<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <style>
    .highlight{
        color: #fff;
        background-color: #74b9ff;
    }
    ::selection {
      background: #74b9ff;
    }
  </style>
</head>
<body>
<div id="app">
  <div v-on:mouseup="onSelect($event)">
    {# WARNING #}
    {# The safe filter isn't safe, and will allow for XSS once the code accepts some javascript. #}
    {{document.body | safe}}
  </div>
</div>
<script>
  var app = new Vue({
    el: '#app',
    delimiters: ['{(', ')}'],
    data: {
      selectedText: ''
    },
    methods: {
      onSelect(event) {
        const span = document.createElement('span')
        span.className='highlight';
        var selection = window.getSelection().getRangeAt(0)
        selection.surroundContents(span)
      }
    }
  })
</script>
</body>
</html>
