{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/rangy/rangy-core.js' %}"></script>
  <script src="{% static 'js/rangy/rangy-serializer.js' %}"></script>

  <style>
      .highlight {
          color: #fff;
          background-color: #74b9ff;
      }

      ::selection {
          background: #74b9ff;
      }
  </style>
</head>
<body>
<div id="app">
  <div @click="restoreSelections">
    <h1>Restore</h1>
  </div>
  <div @mouseup="onSelect">
    <span v-html="context" ></span>
  </div>
</div>
<script>
  var json_context = JSON.parse('{{document | escapejs}}');
  var document_body = json_context[0].fields.body
  rangy.init();

  var app = new Vue({
    el: '#app',
    delimiters: ['{(', ')}'],
    data: {
      context: document_body,
      sarializedSelection: null,
    },
    methods: {
      restoreSelections(){
        rangy.restoreSelectionFromCookie();
      },
      onSelect() {
        rangy.saveSelectionCookie()
        {% comment %}
        this.sarializedSelection = rangy.serializeSelection()
        var dataform = new FormData()
        dataform.append('body', this.savedSelection.toString())
        axios({
           method: 'post',
           url: '',
           data: dataform,
           headers: {'Content-Type': 'multipart/form-data'}
        })
           .then(function (response) {
             console.log(response);
           })
           .catch(function (response) {
             console.log(response);
           });
        {% endcomment %}

      }
    }
  })
</script>
</body>
</html>
