{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/rangy/rangy-core.js' %}"></script>
  <script src="{% static 'js/rangy/rangy-serializer.js' %}"></script>
  <script src="{% static 'js/rangy/rangy-classapplier.js' %}"></script>
  <script src="{% static 'js/rangy/rangy-highlighter.js' %}"></script>

  <style>
      .highlight {
          color: #fff;
          background: rgb(219, 52, 105);
      }
  </style>
</head>
<body>
<div id="app">
  <div @click="restoreSelections">
    <h1>Restore</h1>
  </div>
  <div @mouseup="highlight">
    <span v-html="context"></span>
  </div>
</div>
<script>
  let document_context = JSON.parse('{{document | escapejs}}');
  let documentBody = document_context[0].fields.body;

  let selection_context = JSON.parse('{{selections | escapejs}}');
  let serializedSelection = [];

  let selection;
  for (selection = 0; selection < selection_context.length; selection++) {
    serializedSelection.push(selection_context[selection].fields.selection)
  }
  rangy.init();

  let highlighter = rangy.createHighlighter();
  highlighter.addClassApplier(rangy.createClassApplier("highlight", {
    ignoreWhiteSpace: true,
    tagNames: ["span", "a"]
  }));

  let app = new Vue({
    el: '#app',
    delimiters: ['{(', ')}'],
    data: {
      context: documentBody,
      serializedSelection: serializedSelection,
    },
    methods: {
      restoreSelections() {
        for (let i = 0; i < this.serializedSelection.length; i++) {
          highlighter.deserialize(this.serializedSelection[i])
        }
        {#highlighter.deserialize(this.serializedSelection[0]);#}
        {#highlighter.deserialize(this.serializedSelection[1])#}
      },
      highlight() {
        highlighter.highlightSelection("highlight")
        this.saveSelection(highlighter.serialize())
      },
      saveSelection(serialized) {
        let dataform = new FormData()

        dataform.append("selection", serialized)

        axios({
          method: 'post',
          url: '',
          data: dataform,
          headers: {'Content-Type': 'multipart/form-data'}
        }).then(function (response) {
          console.log(response);
        }).catch(function (response) {
          console.log(response);
        });
      }
    }
  })
</script>
</body>
</html>
